cget*
venv*
cache
.idea
.git
.tox
**/*.pyc
private
build-release
build-debug
cmake-build-debug
cmake-build-debug-remote
cmake-build-release
cmake-build-release-remote
cmake-install
tmp
docker-compose.override.yml
config.py
config.yaml
