{% extends 'base.html' %}

{% block title %}
LD Server Playground
{% endblock %}

{% block content %}
<nav class="navbar sticky-top navbar-dark bg-primary mb-2">
    <span class="navbar-brand mb-0 h1">LD Server Playground</span>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-query-type">Query</label>
                                </div>
                                <select class="custom-select" id="select-query-type" onchange="changeQueryType()">
                                    <option selected>General meta-information</option>
                                    <option value="1">Reference meta-information</option>
                                    <option value="2">Population meta-information</option>
                                    <option value="3">Region LD</option>
                                    <!--<option value="4">Variant LD query</option>-->
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-reference">Reference</label>
                                </div>
                                <select class="custom-select" id="select-reference" onchange="setHttpRequest()" disabled>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-population">Population</label>
                                </div>
                                <select class="custom-select" id="select-population" onchange="setHttpRequest()" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-chromosome">Chromosome</label>
                                </div>
                                <select class="custom-select" id="select-chromosome" onchange="setHttpRequest()" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="input-start">Start position (bp)</label>
                                </div>
                                <input type="text" class="form-control" id="input-start" oninput="setHttpRequest()" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="input-stop">Stop position (bp)</label>
                                </div>
                                <input type="text" class="form-control" id="input-stop" oninput="setHttpRequest()" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="input-limit">Limit</label>
                                </div>
                                <input type="text" class="form-control" id="input-limit" oninput="setHttpRequest()" disabled>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary" onclick="run()">Run</button>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label for="input-http-request">HTTP Request</label>
                            <div class="input-group">
                                <textarea class="form-control" row="2" id="input-http-request" readonly></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="json-response">JSON Response</label>
                            <div class="input-group">
                                <!--<pre class="pre-scrollable" id="json-response">-->
                                    <!--<code></code>-->
                                <!--</pre>-->
                                <textarea class="form-control" rows="5" id="json-response" readonly></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>


    function setHttpRequest() {
        var restAPI = 'http://127.0.0.1:5001'
        var httpRequest = restAPI
        var reference = $("#select-reference option:selected");
        if (reference.length > 0) {
            httpRequest += '/' + reference[0].text
        }
        var population = $("#select-population option:selected");
        if (population.length > 0) {
            httpRequest += '/' + population[0].text
        }
        var chromosome = $("#select-chromosome option:selected");
        if (chromosome.length > 0) {
            httpRequest += '/ld/region?chrom=' + chromosome[0].text + '&start=' + $("#input-start")[0].value + '&stop=' + $("#input-stop")[0].value;
        }
        var limit = $("#input-limit")[0].value;
        if (limit.length > 0) {
            httpRequest += '&limit=' + limit;
        }
        $("#input-http-request")[0].value = httpRequest;
    }

    function populateForm(reference, population, region) {
        var restAPI = 'http://127.0.0.1:5001';
        $("#select-reference").children().remove();
        $("#select-reference").prop("disabled", true);
        $("#select-population").children().remove();
        $("#select-population").prop("disabled", true);
        $("#select-chromosome").children().remove();
        $("#select-chromosome").prop("disabled", true);
        $("#input-start").prop("disabled", true);
        $("#input-stop").prop("disabled", true);
        $("#input-limit").prop("disabled", true);
        if (reference) {
            $.ajax({
                url: restAPI + '/',
                type: "GET",
                crossDomain: true,
                dataType: "json",
                async: false,
                success: function (result) {
                    $.each(result["references"], function (i, reference) {
                        $("#select-reference").append(
                            $('<option>', {value: reference.name, text: reference.name})
                        );
                    });
                    $("#select-reference").prop("disabled", false);
                    if (population) {
                        $.each(result["references"][0]['populations'], function (i, population) {
                            $("#select-population").append(
                                $('<option>', {value: population, text: population})
                            );
                        });
                        $("#select-population").prop("disabled", false);
                    }
                }
            });
        }
        if (region) {
            for (var i = 1; i <= 22; ++i) {
                $("#select-chromosome").append(
                    $('<option>', { value: i, text: i })
                );
            }
            $("#select-chromosome").prop("disabled", false);
            $("#input-start").prop("disabled", false);
            $("#input-stop").prop("disabled", false);
            $("#input-limit").prop("disabled", false);
        }
    }

    function changeQueryType() {
        // var restAPI = 'http://127.0.0.1:5001'
        var queryType = $("#select-query-type option:selected")[0].text;
        switch(queryType) {
            case "General meta-information":
                populateForm(false, false, false);
                break;
            case "Reference meta-information":
                populateForm(true, false, false);
                break;
            case "Population meta-information":
                populateForm(true, true, false);
                break;
            case "Region LD":
                populateForm(true, true, true);
                break;
            case "Variant LD":
                break;
        }
        setHttpRequest();
    }

    function changeReference() {
        var reference = $("#select-reference option:selected")[0].text;
        requestInput.value = restAPI + '/' + reference + '/';
    }

    function run() {
        var request = $("#input-http-request")[0].value;

        $.ajax({
            url: request,
            type: "GET",
            crossDomain: true,
            dataType: "json",
            success: function(result) {
                $("#json-response")[0].value = JSON.stringify(result, null, 3);
                // $("#json-response code")[0].innerText = JSON.stringify(result, null, 3);
            }
        });
    }

    $(function() {
        setHttpRequest();
    });
</script>
{% endblock %}