{% extends 'base.html' %}

{% block title %}
LD Server Playground
{% endblock %}

{% block content %}
<style>
#json-response {
  height:200px;
  width:100%;
}
</style>

<nav class="navbar sticky-top navbar-dark bg-primary mb-2">
    <span class="navbar-brand mb-0 h1">LD Server Playground</span>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-query-type">Query</label>
                                </div>
                                <select class="custom-select" id="select-query-type" onchange="changeQueryType()">
                                    <option value="1">Correlations meta-information</option>
                                    <option value="2">References meta-information</option>
                                    <option value="3">Populations meta-information</option>
                                    <option value="4">Region correlations</option>
                                    <option value="5">Variant correlations</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-reference">Reference</label>
                                </div>
                                <select class="custom-select" id="select-reference" onchange="changeReference()" disabled>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-population">Population</label>
                                </div>
                                <select class="custom-select" id="select-population" onchange="setHttpRequest()" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-correlation">Correlation</label>
                                </div>
                                <select class="custom-select" id="select-correlation" onchange="setHttpRequest()" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="input-variant">Variant</label>
                                </div>
                                <input type="text" class="form-control" id="input-variant" placeholder="CHROM:POSITION_REF/ALT" oninput="setHttpRequest()" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="select-chromosome">Chromosome</label>
                                </div>
                                <select class="custom-select" id="select-chromosome" onchange="setHttpRequest()" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="input-start">Start position (bp)</label>
                                </div>
                                <input type="text" class="form-control" id="input-start" oninput="setHttpRequest()" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="input-stop">Stop position (bp)</label>
                                </div>
                                <input type="text" class="form-control" id="input-stop" oninput="setHttpRequest()" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="input-limit">Limit</label>
                                </div>
                                <input type="text" class="form-control" id="input-limit" oninput="setHttpRequest()" disabled>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary" onclick="run()">Run</button>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label for="input-http-request">HTTP Request</label>
                            <div class="input-group">
                                <textarea class="form-control" row="2" id="input-http-request" readonly></textarea>
                            </div>
                        </div>
                        <div class="text-danger" id="status-message"></div>
                        <label for="json-response">JSON Response</label>
                        <div id="json-response"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    // Configure ACE editor (for exploring JSON)
    var editor = ace.edit("json-response", {
        readOnly: true,
        mode: "ace/mode/javascript",
    });

    var restAPI = "http://127.0.0.1:5000";
    var queryType = 1;

    function changeReference() {
        if (!$("#select-population").is(":disabled")) {
            getPopulations(queryType != 3);
        }
        setHttpRequest();
    }

    function setHttpRequest() {
        if (queryType == 1) {
            $("#input-http-request")[0].value = restAPI + '/correlations';
            return;
        } else {
            var httpRequest = restAPI + '/references';
            var reference = $("#select-reference option:selected");
            var population = $("#select-population option:selected");
            if (queryType == 2) {
                if ((reference.length > 0) && (reference.val().length > 0)) {
                    httpRequest += "/" + reference[0].text;
                }
                $("#input-http-request")[0].value = httpRequest;
                return;
            } else if (queryType == 3) {
                httpRequest += "/" + reference.text() + "/populations";
                if ((population.length > 0) && (population.val().length > 0)) {
                    httpRequest += "/" + population[0].text
                }
                $("#input-http-request")[0].value = httpRequest;
                return;
            } else if (queryType == 4) {
                httpRequest += "/" + reference.text() + "/populations/" + population.text() + "/regions";
                var correlation = $("#select-correlation option:selected");
                var chromosome = $("#select-chromosome option:selected");
                httpRequest += "?correlation=" + correlation.val() + "&chrom=" + chromosome.text() + "&start=" + $("#input-start")[0].value + "&stop=" + $("#input-stop")[0].value;
                var limit = $("#input-limit")[0].value;
                if (limit.length > 0) {
                    httpRequest += '&limit=' + limit;
                }
                $("#input-http-request")[0].value = httpRequest;
                return;
            } else if (queryType == 5) {
                httpRequest += "/" + reference.text() + "/populations/" + population.text() + "/variants";
                var correlation = $("#select-correlation option:selected");
                var chromosome = $("#select-chromosome option:selected");
                httpRequest += "?correlation=" + correlation.val() + "&variant=" + $("#input-variant")[0].value + "&chrom=" + chromosome.text() + "&start=" + $("#input-start")[0].value + "&stop=" + $("#input-stop")[0].value;
                var limit = $("#input-limit")[0].value;
                if (limit.length > 0) {
                    httpRequest += '&limit=' + limit;
                }
                $("#input-http-request")[0].value = httpRequest;
                return;
            }
        }
    }

    function getReferences(no_empty) {
        $("#select-reference").children().remove();
        $.ajax({
            url: restAPI + '/references',
            type: "GET",
            crossDomain: true,
            dataType: "json",
            async: false,
            success: function (result) {
                if (!no_empty) {
                    $("#select-reference").append(
                        $('<option>', {value: "", text: ""})
                    );
                }
                $.each(result, function (i, reference) {
                    $("#select-reference").append(
                        $('<option>', {value: reference.name, text: reference.name})
                    );
                });
            }
        });
    }

    function getPopulations(no_empty) {
        $("#select-population").children().remove();
        var reference = $("#select-reference option:selected").val();
        $.ajax({
            url: restAPI + '/references/' + reference + '/populations',
            type: "GET",
            crossDomain: true,
            dataType: "json",
            async: false,
            success: function (result) {
                if (!no_empty) {
                    $("#select-population").append(
                        $('<option>', {value: "", text: ""})
                    );
                }
                $.each(result, function (i, population) {
                    $("#select-population").append(
                        $('<option>', {value: population, text: population})
                    );
                });
            }
        });
    }

    function getCorrelations() {
        $("#select-correlation").children().remove();
        $.ajax({
            url: restAPI + '/correlations',
            type: "GET",
            crossDomain: true,
            dataType: "json",
            async: false,
            success: function (result) {
                $.each(result, function (i, correlation) {
                    $("#select-correlation").append(
                        $('<option>', {value: correlation.name, text: correlation.label})
                    );
                });
            }
        });
    }

    function getChromosomes() {
        $("#select-chromosome").children().remove();
        for (var i = 1; i <= 22; ++i) {
            $("#select-chromosome").append(
                $('<option>', { value: i, text: i })
            );
        }
    }

    function clearAll() {
        $("#select-reference").children().remove();
        $("#select-reference").prop("disabled", true);
        $("#select-population").children().remove();
        $("#select-population").prop("disabled", true);
        $("#select-correlation").children().remove();
        $("#select-correlation").prop("disabled", true);
        $("#input-variant").prop("disabled", true);
        $("#select-chromosome").children().remove();
        $("#select-chromosome").prop("disabled", true);
        $("#input-start").val("");
        $("#input-start").prop("disabled", true);
        $("#input-stop").val("");
        $("#input-stop").prop("disabled", true);
        $("#input-limit").val("");
        $("#input-limit").prop("disabled", true);
    }

    function changeQueryType() {
        queryType = parseInt($("#select-query-type option:selected")[0].value);
        clearAll();
        switch(queryType) {
            case 1:
                break;
            case 2:
                getReferences(false);
                $("#select-reference").prop("disabled", false);
                break;
            case 3:
                getReferences(true);
                getPopulations(false);
                $("#select-reference").prop("disabled", false);
                $("#select-population").prop("disabled", false);
                break;
            case 4:
                getReferences(true);
                getPopulations(true);
                getCorrelations();
                getChromosomes();
                $("#select-reference").prop("disabled", false);
                $("#select-population").prop("disabled", false);
                $("#select-correlation").prop("disabled", false);
                $("#select-chromosome").prop("disabled", false);
                $("#input-start").prop("disabled", false);
                $("#input-stop").prop("disabled", false);
                $("#input-limit").prop("disabled", false);
                break;
            case 5:
                getReferences(true);
                getPopulations(true);
                getCorrelations();
                getChromosomes();
                $("#select-reference").prop("disabled", false);
                $("#select-population").prop("disabled", false);
                $("#input-variant").prop("disabled", false);
                $("#select-correlation").prop("disabled", false);
                $("#select-chromosome").prop("disabled", false);
                $("#input-start").prop("disabled", false);
                $("#input-stop").prop("disabled", false);
                $("#input-limit").prop("disabled", false);
                break;
        }
        setHttpRequest();
    }

    function run() {
        var request = $("#input-http-request")[0].value;
        var statusdiv = $('#status-message');
        editor.setValue("");
        statusdiv.text("");
        $.ajax({
            url: request,
            type: "GET",
            crossDomain: true,
        }).done(function(result) {
            editor.setValue(JSON.stringify(result, null, 4));
        }).fail(function(xhr, status, err) {
            console.error(err);
            statusdiv.text(err ? (err.message || err) : "An error occurred")
        });
    }

    $(function() {
        changeQueryType();
        setHttpRequest();
    });
</script>
{% endblock %}
