statgen/savvy@5cf11170e5d -DCMAKE_C_FLAGS=-fPIC -DCMAKE_CXX_FLAGS=-fPIC
armadillo,http://sourceforge.net/projects/arma/files/armadillo-9.100.5.tar.xz
boost,http://downloads.sourceforge.net/project/boost/boost/1.67.0/boost_1_67_0.tar.bz2 --cmake boost -DBOOST_WITH_PYTHON=1 -DBOOST_WITH_SYSTEM=1 -DCMAKE_C_FLAGS=-fPIC -DCMAKE_CXX_FLAGS=-fPIC
gtest,https://github.com/google/googletest/archive/release-1.8.0.tar.gz
redis,http://download.redis.io/releases/redis-5.0-rc4.tar.gz --cmake redis.cmake
hiredis,https://github.com/redis/hiredis/archive/v0.13.3.tar.gz --cmake hiredis.cmake
cereal,https://github.com/USCiLab/cereal/archive/v1.2.2.tar.gz --cmake header
ekg/tabixpp@6bbe6907d0d --cmake tabixpp.cmake
