statgen/savvy@5cf11170e5d -DCMAKE_C_FLAGS=-fPIC -DCMAKE_CXX_FLAGS=-fPIC
openblas,https://github.com/xianyi/OpenBLAS/archive/v0.3.15.tar.gz -DUSE_OPENMP=1
armadillo,http://sourceforge.net/projects/arma/files/armadillo-10.4.1.tar.xz
boost,http://downloads.sourceforge.net/project/boost/boost/1.67.0/boost_1_67_0.tar.bz2 --cmake boost.cmake -DBOOST_WITH_CHRONO=1 -DBOOST_WITH_IOSTREAMS=1 -DBOOST_WITH_PYTHON=1 -DBOOST_WITH_SYSTEM=1 -DCMAKE_C_FLAGS=-fPIC -DCMAKE_CXX_FLAGS=-fPIC
gtest,https://github.com/google/googletest/archive/release-1.8.0.tar.gz
redis,http://download.redis.io/releases/redis-5.0.12.tar.gz --cmake redis.cmake
hiredis,https://github.com/redis/hiredis/archive/v0.13.3.tar.gz --cmake hiredis.cmake
cereal,https://github.com/USCiLab/cereal/archive/v1.2.2.tar.gz --cmake header
ekg/intervaltree@v0.1 --cmake header
welchr/tabixpp@36a15c88922ddab4ae12a3555181c1b1cd56a8ed --cmake tabixpp.cmake
msgpack/msgpack-c@cpp_master
apache/arrow@apache-arrow-4.0.1 --cmake arrow.cmake